<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Edit Work Planner</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
  		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css">
		
</head>

	<body class="hold-transition sidebar-mini layout-fixed">
	    <header th:include="header::header1"></header> 
	  	<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">Edit Work Planner</lable>
	                        </div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">
	
	                                <form action="#" th:action="@{/SaveEmployeeEditAssignTask}" th:object="${assigntask}" method="POST" autocomplete="off">
	                                    <input type="hidden" th:field="*{id}" />
	                                   <div class="row">
                                           <div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                            	<label class="d-label required-field">Client Name :</label>
			                                        	</div>
			                                        	<div class="col-sm-6">
			                                        		<select class="form-control input-anime" th:field="*{company_name_id}" id="cname" required>
			                                            		<option th:each="c:${Company}" 
			                                                			th:value="${c.id}"
			                                                			th:text="${c.CompanyName}" th:if="${c.company_id}==${CompanyID}"></option>
			                                        		</select>
			                                        		<span class="form-control input-anime" th:field="*{company_name_id}" id="cname" th:if="${authority_id}!=${Authority}" readonly>
			                                            		<span th:each="c:${Customerlist}" 
			                                                			th:value="*{company_name_id}"
			                                                			th:text="${c.CompanyName}" th:if="${c.id}==*{company_name_id}"></span>
			                                        		</span>
			                                        	</div>
                                                </div>   
                                           </div>
                                           <div class="col-sm-6">
                                           		<div class="row mt-4">
                                                    <div class="col-sm-5">
			                                            	<label class="d-label required-field">Category :</label>
			                                        	</div>
			                                        	<div class="col-sm-6">
			                                        		<select  class="form-control input-anime" id="category" required>
				                                                <option th:each="c1:${Categorylist}"
																		th:value="${c1.category}"
																		th:text="${c1.category}" th:if="${c1.company_id}==${CompanyID}"></option>
				                                            </select>
				                                            <span class="form-control input-anime" id="category" th:if="${authority_id}!=${Authority}" readonly>
				                                                <span th:each="c1:${Categorylist}"
																		th:value="${c1.category}"
																		th:text="${c1.category}" th:if="${c1.company_id}==${CompanyID}"></span>
				                                            </span>
				        									
			                                        	</div>
                                                  </div> 
                                           </div>
                                       </div>

                                       <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                            	<label class="d-label required-field">Project Name :</label>
			                                        	</div>
			                                        	<div class="col-sm-6">
			                                        		<select class="form-control input-anime" th:field="*{project_id}" id="pname" required> 
																<option th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" 
				        												th:value="*{project_id}"
				        												th:text="${p.projectName}"></option>
				        									</select>
				        									<span class="form-control input-anime" th:field="*{project_id}" id="pname" th:if="${authority_id}!=${Authority}" readonly> 
																<span th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" 
				        												th:value="*{project_id}"
				        												th:text="${p.projectName}"></span>
				        									</span>
			                                        	</div>
                                                  </div> 
                                            </div>
                                            <div class="col-sm-6">
                                            	<div class="row mt-4">
                                                    <div class="col-sm-5 ">
                                                    	<label class="d-label required-field">Project Code :</label>
			                                        </div>
			                                        <div class="col-sm-6">
			                                        	<select class="form-control input-anime" id="projectCode" required> 
			        										<option th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" 
	        														th:text="${p.projectcode}"></option>
	        											</select>
			                                        	<span class="form-control input-anime" id="projectCode" th:if="${authority_id}!=${Authority}" readonly> 
			        										<span th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" 
	        														th:text="${p.projectcode}"></span>
	        											</span>
					                                </div>
			                               		</div>
			                               	</div>                                            
                                        </div>    

										<div class="row">
                                            <div class="col-sm-6">
                                                 <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                         	<label class="d-label required-field">Milestone :</label>
			                                         </div>
			                                         <div class="col-sm-6">
			                                         	<select class="form-control input-anime"  th:field="*{milestone_id}" id="milestone" required> 
															<option th:each="m:${Milestonelist}"
																	th:value="*{milestone_id}"
																	th:text="${m.add_milestone}" th:if="${m.id}==${assigntask.milestone_id} AND ${m.company_id}==${CompanyID}"></option>
														</select>
			                                         	<span class="form-control input-anime"  th:field="*{milestone_id}" id="milestone" th:if="${authority_id}!=${Authority}" readonly> 
															<span th:each="m:${Milestonelist}"
																	th:value="*{milestone_id}"
																	th:text="${m.add_milestone}" th:if="${m.id}==${assigntask.milestone_id} AND ${m.company_id}==${CompanyID}"></span>
														</span>
			                                         </div>  
                                                </div>
                                            </div> 
                                            <div class="col-sm-6">
                                               <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                        	<label class="d-label required-field">Task :</label>
			                                      	</div>
			                                     	<div class="col-sm-6">
			                                     		<select  class="form-control input-anime" th:field="*{task_id}" id="task"  required>
				                                        	<option th:each="t:${Tasklist}" th:if="${t.id == assigntask.task_id} AND ${t.company_id}==${CompanyID}" 
																	th:value="*{task_id}"
																	th:text="${t.addTask}"></option>
					                                    </select>
			                                     		<span  class="form-control input-anime" th:field="*{task_id}" id="task" th:if="${authority_id}!=${Authority}"  readonly>
				                                        	<span th:each="t:${Tasklist}" th:if="${t.id == assigntask.task_id} AND ${t.company_id}==${CompanyID}" 
																	th:value="*{task_id}"
																	th:text="${t.addTask}"></span>
					                                    </span> 
			                                       	</div>   
                                                </div> 
                                        	</div>
                                        </div>
										<div class="row">
                                            <div class="col-sm-6">
                                            	<div class="row mt-4">
                                                    <div class="col-sm-5">
			                                         	<label class="d-label required-field">Task Status :</label>
			                                         </div>
			                                         <div class="col-sm-6">
			                                         	<select class="form-control input-anime" th:field="*{status}" required> 
			                                                	<option value="Open">Open</option>
			                                                	<option value="WIP">WIP</option>
			                                                	<option value="Hold">Hold</option>
			                                                	<option value="Closed">Closed</option>
			                                            </select>
			                                         </div>  
                                                </div>
                                            </div> 
                                            <div class="col-sm-6">
                                            	<div class="row mt-4">
                                                    <div class="col-sm-5 ">
			                                            <label class="d-label required-field">Priority :</label>
			                                        </div>
			                                        <div class="col-sm-6">
			                                            <select class="form-control input-anime" th:field="*{Priority}" required> 
			                                                <option value="Low">Low</option>
			                                                <option value="Medium">Medium</option>
			                                                <option value="High">High</option>
			                                            </select>
			                                        </div> 
                                                </div> 
                                           </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                         	<label class="d-label required-field">Start Date :</label>
			                                         </div>
			                                         <div class="col-sm-6">
			                                         	<input type="text" class="form-control input-anime" th:field="*{StartDate}" id="startdate" placeholder="DD-MM-YYYY" required>
			                                         </div>  
                                                </div>
                                            </div> 
                                            <div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                        	<label class="d-label required-field">End Date :</label>
			                                      	</div>
			                                     	<div class="col-sm-6">
			                                        	<input type="text" class="form-control input-anime" th:field="*{EndDate}" id="enddate" placeholder="DD-MM-YYYY" required>
			                                       	</div>   
                                                </div> 
                                        	</div>
                                        </div>
										
                                        
                                        <div class="row">
                                        	<div class="col-sm-6">
                                        		<div class="row mt-4">
                                          			<div class="col-sm-5">
			                                   			<label class="d-label required-field">Task Description :</label>
			                                     	</div>
			                                       	<div class="col-sm-6">
			                                       		<textarea class="form-control input-anime"  th:field="*{TaskDescription}" required></textarea>
			                                       	</div>  
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            	<button type="submit" class="btn btn-info mt-4">Save</button>
                                            </div>  
	                                   </form>  
	                                    <div class="row mt-4">
	                                    	<a th:href="@{/TodayTask}">Back to List</a>
	                                    </div> 
	                             </div>    
	                         </div>
	                      </div>    
	                  </div>    
	              </div>
	          </section>   
	     </div>
	     	      <script type="text/javascript">
				
		$(function(){
			$("#cname").change(function() {
				var companyId = $(this).val();
					$.ajax({
				 		url: "[[@{/getCompanyId}]]",
				 		data: {
				        	id: companyId
				      	},
				    	success: function(data) {
				     		$("#company_id").val(data);
				   		}
					});
				});
				$("#cname, #category").change(function(){
					$('#pname').find('option').remove().end();
					
					var Pname = $('#cname').val();
					var category = $('#category').val();
					$.ajax({
						url:"[[@{/getprojectNamedropdown}]]",
						data:{
							name: Pname,
							name1: category
						},
						success:function(data){
						$('#pname').append($('<option>',{
									value:"",
									text:"Select"
								}));
							$.each(data,function(i,item){
								$('#pname').append($('<option>',{
									value:item.id,
									text:item.projectName
								}));
							});
						}
					});
				});	
				$("#category, #pname").change(function(){
					$('#projectCode').find('option').remove().end();
					var Pcode =  $('#category').val();
					var category = $('#pname').val();
					$.ajax({
						url:"[[@{/getdropdown}]]",
						data:{
							name: Pcode,
							name1: category
						},
						success:function(data){
							
							$.each(data,function(i,item){
								$('#projectCode').append($('<option>',{
									value:item.projectcode,
									text:item.projectcode
								}));
							});
						}
					});
				});
				
				$("#cname, #pname").change(function(){
					$('#milestone').find('option').remove().end();
					
					var milestone = $('#cname').val();
					var pname = $('#pname').val();
					
					$.ajax({
						url:"[[@{/getMileStonedropdown}]]",
						data:{
							name: milestone,
							name1: pname
						},
						success:function(data){
							$('#milestone').append($('<option>',{
									value:"",
									text:"Select"
								}));
							$.each(data,function(i,item){
								$('#milestone').append($('<option>',{
									value:item.id,
									text:item.add_milestone
								}));
							});
						}
					});
				});	
				
				$("#cname, #pname, #milestone").change(function(){
					$('#task').find('option').remove().end();
					
					var company_name1 = $('#cname').val();
					var pname1 = $('#pname').val();
					var milestone1 = $('#milestone').val();
					
					$.ajax({
						url:"[[@{/getTaskDropDown}]]",
						data:{
							name: company_name1,
							name1: pname1,
							name2: milestone1
						},
						success:function(data){
						
							$.each(data,function(i,item){
								$('#task').append($('<option>',{
									value:item.id,
									text:item.addTask
								}));
							});
						}
					});
				});
			});
			
		</script>
			<script type="text/javascript">
				$(document).ready(function () {
			   		$("#startdate").datepicker({
			       		dateFormat: "dd-mm-yy"
			  		});
			       	$("#enddate").datepicker({
			      		dateFormat: "dd-mm-yy"
					}); 
					 // DataTables initialisation
					  var table = $('#data-table').DataTable();
				});
				
				$("input").on("keypress", function(e) {
				 	if (e.which === 32 && !this.value.length)
						e.preventDefault();
				});
		         $("textarea").on("keypress", function(e) {
				 	if (e.which === 32 && !this.value.length)
						e.preventDefault();
				});
		</script>
	</body>
</html>