<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Edit TimeSheet</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css">

</head>

	<body class="hold-transition sidebar-mini layout-fixed">
	    <header th:include="header::header1"></header> 
		<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">Edit Time Sheet</lable>
	                        </div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">
	                                <form action="#" th:action="@{/SaveEditTimeSheet}" th:object="${timesheet}" method="POST" autocomplete="off">
										<input type="hidden" th:field="*{id}" />
	                                	<div class="row">
                                           <div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5">
			                                        	<label for="companyname" class="d-label">Client Name:</label>
			                                        </div>
			                                        	<input type="hidden" class="form-control input-anime"  name="cname" id="cname" required>
			                                         <div class="col-sm-6">
			                                        	<select class="form-control input-anime" th:field="*{company_name_id}" id="company_id">
			                                        		<!-- <option th:each="e:${CompanyList}" th:if="${e.id}==${timesheet.company_name_id}" 
				                                                th:value="*{company_name_id}" th:text="${e.CompanyName}" selected>
	                                                            </option> -->
                                                            	<option th:each="e:${Company}" 
				                                                        th:value="*{company_name_id}" th:text="${e.CompanyName}" th:if="${e.status}==true" selected>
	                                                            </option>
			                                        	</select>
			                                        </div>
                                                </div>   
                                           </div>
                                           
                                           <div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5 ">
			                                          <label for="projectName" class="d-label">Category :</label>
			                                        </div>
			                                        <div class="col-sm-6">
			                                            <select  class="form-control input-anime"  id="category" required>
															<option th:each="p : ${Projectlist}" th:if="${p.id}==*{project_id} AND ${p.company_id}==${CompanyID}"
														            th:value="${p.categoryName}" th:text="${p.categoryName}" selected></option>
														    <option th:each="c : ${Categorylist}" th:if="${c.company_id}==${CompanyID}"
														            th:value="${c.category}" th:text="${c.category}"></option>
														   
	                                            		 </select> 
			                                        </div> 
                                                </div> 
                                           </div>
                                           
                                       </div>

                                       <div class="row">
                                       		<div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5 ">
			                                          <label for="projectName" class="d-label">Project Name:</label>
			                                        </div>
			                                        <div class="col-sm-6">
			                                            <select  class="form-control input-anime"  th:field="*{project_id}" id="pname" name="pname" required>
			                                                <option th:each="p:${Projectlist}" th:if="${p.id}==${timesheet.project_id}"
			                                                		th:value="*{project_id}"
			                                                	 	th:text="${p.projectName}" selected>
			                                            </select>
			                                        </div> 
                                                </div> 
                                           </div>
                                            <div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5">
				                                         <label class="d-label">Project Code:</label>
					                                </div>
					                               	<div class="col-sm-6">
					        							<select  class="form-control input-anime" id="projectCode" name="projectCode" required>
				                                    		<option th:each="p:${Projectlist}" th:if="${p.id}==${timesheet.project_id}"
			                                                		th:value="*{project_id}"
			                                                	 	th:text="${p.projectcode}" selected>
				                                     	</select>
					                               	</div>
                                                </div> 
                                            </div>
                                                                                     
                                        </div>   
                                        <div class="data">
                                        <div class="row">
                                        	<div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5">
			                                        	<label class="d-label"  for="time">MileStone :</label>
			                                        </div>
			                                        <div class="col-sm-6">
				                                        <select  class="form-control input-anime" th:field="*{milestone_id}"  id="milestone">
				                                        	<th:block th:each="m: ${list}" th:if="${m.id}==*{milestone_id} AND ${m.company_id}==${CompanyID}" 
																	th:value="${m.id}"
																	 selected>
				                                        	<option th:each="m1: ${list}" 
				                                        			th:value="${m1.id}"
																	th:text="${m1.add_milestone}"  
																	th:if="${m1.company_id}==${CompanyID}" Selected></option>
															</th:block>
						       							</select>
			                                     	</div>  
                                                </div>
                                            </div> 
                                            <div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                        	<label class="d-label"  for="time">MileStone Status :</label>
			                                        </div>
			                                        <div class="col-sm-6">
				                                        <select  class="form-control input-anime" th:field="*{milestoneStatus}" id="milestone_status"> 
				                                        	<option th:value="*{milestoneStatus}"  th:text="*{milestoneStatus}" selected>
					                                    	<option value="Yet To Start">Yet To Start</option> 
					                                     	<option value="Inprogress">Inprogress</option> 
					                                    	<option value="Completed">Completed</option> 
														</select>
			                                     	</div> 
                                                </div>
                                            </div>  
                                            
                                        </div>
                                        <div class="row">
                                        	<div class="col-sm-6" id="data1">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                        	<label class="d-label">Task:</label>
				                                    </div>
				                                 	<div class="col-sm-6">
					                                	<select  class="form-control input-anime" th:field="*{task_id}" id="task">
					                                		<option th:each="t:${tasklist}" th:if="${t.id == timesheet.task_id} AND ${t.company_id}==${CompanyID}" 
																	th:value="*{task_id}"
																	th:text="${t.addTask}"></option>
					                                    </select> 
				                                  	</div>  
                                                </div>
                                            </div>
                                        	<div class="col-sm-6">
                                                <div class="row mt-4">
                                                    <div class="col-sm-5">
			                                         	<label class="d-label">Task Status:</label>
				                                    </div>
				                                    <div class="col-sm-6">
				                                   		<select  class="form-control input-anime" th:field="*{taskstatus}" id="task_status">
				                                   			<option th:value="*{taskstatus}"  th:text="*{taskstatus}" selected>
					                                   		<option value="Yet To Start">Yet To Start</option> 
					                                    	<option value="Inprogress">Inprogress</option> 
					                                     	<option value="Completed">Completed</option> 
					                                    </select>
				                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                       </div>
                                        <div class="row">
                                         	<div class="col-sm-6">
                                                <div class="row mt-4 required-field">
                                                    <div class="col-sm-5">
			                                       		<label class="d-label" >Remarks :</label>
	                                               	</div>
	                                              	<div class="col-sm-6">
	                                               		<textarea class="form-control input-anime"  maxlength="1000"  th:field="*{remarks}" required></textarea>
	                                              	</div>   
                                                </div>
                                             </div>
                                        </div>
                                        <input type="hidden" class="form-control input-anime" th:field="*{StartDate}" id="date1" required>
	                                    <input type="hidden" class="form-control input-anime"  th:field="*{start_time}" id="starttime" required>
	                                    <input type="hidden" class="form-control input-anime" th:field="*{end_time}" id="endtime" required>
	                                    <input type="hidden" class="form-control input-anime" th:field="*{currentdate}"  required>
	                                    <input type="hidden" class="form-control input-anime" th:field="*{employee_id}"  required>
	                                    <input type="hidden" class="form-control input-anime" th:field="*{duration}" required>
	                                    <input type="hidden" class="form-control input-anime" th:field="*{remainingduration}" required>
                                        
                                       		<button type="submit" class="btn btn-info mt-2 ">Save</button>   
	                                   </form>
	                                   
	                                <div class="row mt-4">  
	                                	<a th:href="@{/showTimeSheet}">Back to List</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>            
	        </section>
	    </div>
			<script type="text/javascript">
				$(function(){
				    $("#cname").change(function() {
				        var companyId = $(this).val();
				        $.ajax({
				            url: "[[@{/getCompanyId}]]",
				            data: {
				                id: companyId
				            },
				            success: function(data) {
				                $("#company_id").val(data);
				            }
				        });
				    });
				    
				$("#company_id, #category").change(function(){
					$('#pname').find('option').remove().end();
					
					var Pname = $('#company_id').val();
					var Category= $('#category').val();
					$.ajax({
						url:"[[@{/getprojectNamedropdown}]]",
						data:{
							name: Pname,
							name1: Category
						},
						success:function(data){
						console.log("Response data:", data);
						$('#pname').append($('<option>',{
									value:"",
									text:"Select"
								}));
							$.each(data,function(i,item){
								$('#pname').append($('<option>',{
									value:item.id,
									text:item.projectName
								}));
							});
						}
					});
				});	
				$("#category, #pname").change(function(){
					$('#projectCode').find('option').remove().end();
					var Pcode =  $('#category').val();
					var Category = $('#pname').val();
					$.ajax({
						url:"[[@{/getdropdown}]]",
						data:{
							name: Pcode,
							name1: Category
						},
						success:function(data){
							
							$.each(data,function(i,item){
								$('#projectCode').append($('<option>',{
									value:item.projectcode,
									text:item.projectcode
								}));
							});
						}
					});
				});
				
				$("#company_id, #pname, #milestone").change(function(){
					$('#task').find('option').remove().end();
					
					var Task = $('#company_id').val();
					var Task1 = $('#pname').val();
					var Task2 = $('#milestone').val();
					
					$.ajax({
						url:"[[@{/getTaskdropdown1}]]",
						data:{
							name: Task,
							name1: Task1,
							name2: Task2
							
						},
						success:function(data){
							$.each(data,function(i,item){
								$('#task').append($('<option>',{
									value:item.id,
									text:item.addTask
								}));
							});
						}
					});
				});
			});
	         $("input").on("keypress", function(e) {
				if (e.which === 32 && !this.value.length)
					e.preventDefault();
			});
			$("textarea").on("keypress", function(e) {
				if (e.which === 32 && !this.value.length)
					e.preventDefault();
			});
			
		    $(function() {
			    $('#category').change(function() {
			        var category = $(this).val();
			        if (category == 'Support') {
			            $(".data").hide();
			        } else {
			            $(".data").show();
			        }
			    });
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
			        var category = $('#category').val();
			        if (category == 'Support') {
			            $(".data").hide();
			        } else {
			            $(".data").show();
			        }
			    });
			    
			 $(document).ready(function() {
			        var category = $('#category').val();
			        if (category == 'New' || category == 'Change Request') {
			            $("#data1").hide();
			        } else {
			            $("#data1").show();
			        }
			    });
			    
		    var categorySelect = document.getElementById("category"); // Replace "category" with the actual ID of your category select element
		    var milestoneSelect = document.getElementById("milestone");
		    var milestoneSelect1 = document.getElementById("milestone_status");
		    var taskSelect = document.getElementById("task");
		    var taskSelect1 = document.getElementById("task_status");
		
		    categorySelect.addEventListener("change", function() {
		        var selectedCategory = categorySelect.value;
		        if (selectedCategory === "Support") {
		            milestoneSelect.classList.add("hidden");
		            milestoneSelect.value = "0"; // Set the milestone_id as 0 when the category is not "Change Request"
		        	milestoneSelect1.value = "-"; 
		        	taskSelect.value = "0"; 
		        	taskSelect1.value = "-"; 
		        	 
		        }
		    });
		</script>
	</body>
</html>