<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Education</title>
    	<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
   		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
   		
   		<!----------------------------------------- Added files ----------------------------------------->
		<link rel="stylesheet" th:href="@{/dist/css1/style.css}" />
		<script src="https://kit.fontawesome.com/d13698d966.js" crossorigin="anonymous"></script>
	    <script th:src="@{/dist/js/index.js}"></script>
	    
        <!-- date -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<!--Export table button CSS-->
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
		<!-- date filter -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
	
</head>
	<body class="hold-transition sidebar-mini layout-fixed">
		<header th:include="header::header1"></header> 
		<div class="content-wrapper">
	        <section class="content-header">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="card-header text-center pb-2 d-bg-h2 ">
	                            <lable id="label" class="h2 font-weight-bold">Education Details</lable>
	                        </div>
	                        <div class="section">
				                <div class="section_box">
				                  <a th:href="@{/showFormForUpdate}" class="sectionBtn" id="link1"><i class="fa-solid fa-user"></i>Personal Details</a>
				                  <a th:href="@{/address}" class="sectionBtn" id="link2"><i class="fa-solid fa-location-dot"></i>Address</a>
				                  <a th:href="@{/education}" class="sectionBtn" id="link3"><i class="fa-solid fa-book"></i>Education</a>
				                  <a th:href="@{/certificate_details}" class="sectionBtn" id="link4"><i class="fa-solid fa-certificate"></i>Certificate</a>
				                  <a th:href="@{/bank_details}" class="sectionBtn" id="link5"><i class="fa-sharp fa-solid fa-chart-simple"></i>Bank Details</a>
				                  <a th:href="@{/work_experience}" class="sectionBtn" id="link6"><i class="fa-solid fa-circle-info"></i>Work Experience</a>
				                  <a th:href="@{/career_break}" class="sectionBtn" id="link7"><i class="fa-solid fa-lightbulb"></i>Career Break</a>
				                </div>
			              	</div>
	                        <div class="card card-box-new tech-x-card-2 mt-5">
	                            <div class="card-body">
                                	<form action="#" class="form-horizontal" th:action="@{/save/education}" th:object="${educationDetails}"  method="post">
                                     
                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Level Of Education :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select class="form-control input-anime" th:field="*{educationName}" id="education">
                                                                <option value="">Select</option>
                                                                <option th:each="employee:${qualificationList}"
                                                                    th:value="${employee.qualification}"
                                                                    th:text="${employee.qualification}" th:if="${employee.company_id}==${CompanyID}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Course Name:</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select class="form-control input-anime" th:field="*{course}" id="course">
                                                                <option th:value="*{course}" th:text="*{course}" selected>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Specialization :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-3">
                                                            <input type="text" class="form-control input-anime" th:field="*{specialization}"
                                                                placeholder="Specialization">
                                                        </div>
                                                    </div>
													<div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">University :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <input type="text" class="form-control input-anime" th:field="*{instituteName}">
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Course Type :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select class="form-control input-anime" th:field="*{courseType}">
                                                                <option value="">Select</option>
                                                                <option value="Full Time">Full Time</option>
                                                                <option value="Part Time">Part Time</option>
                                                                <option value="'Correspondence/Distance learning'">Correspondence/Distance learning</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Course duration :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-2">
                                                            <input type="text" class="form-control input-anime" th:field="*{fromDate}" id="startDate"
                                                                 placeholder="DD-MM-YYYY">
                                                        </div> to
                                                        <div class="col-sm-6 col-md-4 col-lg-2">
                                                            <input type="text" class="form-control input-anime" th:field="*{toDate}" id="endDate"
                                                                 placeholder="DD-MM-YYYY">
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Skills :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <textarea class="form-control input-anime"
                                                                th:field="*{skillset}" placeholder="Add Skill here"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Grading System :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select class="form-control input-anime" th:field="*{gradingSystem}">
                                                                <option value="">Select</option>
                                                                <option value="Scale 10 Grading System">Scale 10 Grading System</option>
                                                                <option value="Scale 4 Grading System">Scale 4 Grading System</option>
                                                                <option value="% Marks of 100 Maximum">% Marks of 100 Maximum</option>
                                                                <option value="Course Requires a Pass">Course Requires a Pass</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Grade :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-2">
                                                            <input class="form-control input-anime" type="text" th:field="*{grade}">
                                                        </div>
                                                   </div>
		                                        	<div class="row mt-4">
				                                        <div class="col-sm-4 col-md-4 col-lg-3">
				                                            <button type="submit" class="btn btn-info ">Save</button>
				                                        </div> 
				                                     </div>    
												</form>
												<div class="table-responsive mt-4">
				                                 <table id="data-table" data-order='[[ 0, "desc" ]]'  class="table table-bordered table-responsive table-head-fixed table-striped">
													<thead>
														<tr class="text-center">
						                              		<th class="d-list-th">University</th>
			                                                <th class="d-list-th">Education Name</th>
			                                                <th class="d-list-th">SkillSet</th>
			                                                <th class="d-list-th">Course</th>
			                                                <th class="d-list-th">Specialization</th>
			                                                <th class="d-list-th">Course Type</th>
			                                                <th class="d-list-th">Course Duration</th>
			                                                <th class="d-list-th">Grading System</th>
			                                                <th class="d-list-th">Grade</th>
						                                   	<th class="text-center">Edit</th> 
						                                </tr>
			                                        </thead>
				                                        <tbody>
				                                        	<tr class="text-center" th:each="a:${EducationList}" th:if="${a.employee_id}==${UserName}">
									                        	<td class="text-center" th:text="${a.instituteName}"></td>
				                                                <td class="text-center" th:text="${a.educationName}"></td>
				                                                <td class="text-center" th:text="${a.skillset}"></td>
				                                                <td class="text-center" th:text="${a.course}"></td>
				                                                <td class="text-center" th:text="${a.specialization}"></td>
				                                                <td class="text-center" th:text="${a.courseType}"></td>
				                                                <td class="text-center"><span th:text="${a.fromDate}"></span> to <span th:text="${a.toDate}"></span></td>
				                                                <td class="text-center" th:text="${a.gradingSystem}"></td>
				                                                <td class="text-center" th:text="${a.grade}"></td>
									                       		<td class="text-center"><a th:href="@{/edit/education/{id}(id=${a.id})}"><i class="fa-solid fa-pencil text-success"></i></a></td>
								                            </tr>
				                                        </tbody>
													</table> 
												</div>
                            				</div>
                        				</div>
                    				</div>
                				</div>
            				</div>
        			</section>
    			</div>
		     	 <script type="text/javascript">
		     	 	$(document).ready(function() {
					  $('#data-table').DataTable( {
					    stateSave: true,
					    stateDuration: 120,
					    dom: "<'row'<'col-sm-0'l><'col-sm-2 text-right'B><'col-sm-1 text-right'><'col-sm-4'<'toolbar'>><'col-sm-3'f>>" +
					         "<'row'<'col-sm-12'tr>>" +
					         "<'row'<'col-sm-5'i><'col-sm-7'p>>",
					    buttons: [
					      
					      {
					        extend: 'excel',
					        text: '<i class="fa fa-file-excel"></i> Excel',
					        className: 'btn btn-primary btn-md'
					      },
					      {
					        extend: 'pdf',
					        text: '<i class="fa fa-file-pdf"></i> PDF',
					        className: 'btn btn-primary btn-md'
					      }
					    ]
					  });
					});
		      		$(function(){
						$("#education").change(function(){
							$('#course').find('option').remove().end();
							
							var coursename = $(this).val();
							$.ajax({
								url:"[[@{/getCoursedropdown}]]",
								data:{
									name: coursename
								},
								success:function(data){
								$('#course').append($('<option>',{
											value:"",
											text:"Select"
										}));
									$.each(data,function(i,item){
										$('#course').append($('<option>',{
											value:item,
											text:item
										}));
									});
								}
							});
						});	
					});
					 $(function() {
				  var todaydt = new Date();
					$("#startDate").datepicker({
						minDate: 0,
			          	autoclose: true,
			           	dateFormat: "dd-mm-yy",
			          	endDate: todaydt,
			            onSelect: function (date) {
			            	//Get selected date 
			            	var date2 = $('#startDate').datepicker('getDate');
			              	//sets minDate to txt_date_to
			           		$('#endDate').datepicker('option', 'minDate', date2);
			            }
			        }).datepicker('setDate','0');
			    
				    $('#endDate').datepicker({
						minDate: 0,
			       		dateFormat: "dd-mm-yy",
			         });
		  		});
					$("input").on("keypress", function(e) {
					    if (e.which === 32 && !this.value.length)
					        e.preventDefault();
					});
					
					$("textarea").on("keypress", function(e) {
					    if (e.which === 32 && !this.value.length)
					        e.preventDefault();
					});
					
					const setActiveLink = (linkId) => {
		        const links = document.querySelectorAll(".section_box a");
		        links.forEach((link) => {
		          if (link.id === linkId) {
		            link.classList.add("active");
		          } else {
		            link.classList.remove("active");
		          }
		        });
		      };
		
		      const handleLinkClick = (event) => {
		        const linkId = event.target.id;
		        setActiveLink(linkId);
		        localStorage.setItem("activeLink", linkId);
		      };
		
		      document.addEventListener("DOMContentLoaded", () => {
		        const activeLink = localStorage.getItem("activeLink");
		        if (activeLink) {
		          setActiveLink(activeLink);
		        }
		
		        const links = document.querySelectorAll(".section_box a");
		        links.forEach((link) => {
		          link.addEventListener("click", handleLinkClick);
		        });
		      });
			</script>
	</body>

</html>