<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Employee List</title>
       <link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
    
		    <!-- date -->
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function () {
				$('#data-table').DataTable();
			});
		</script> 
</head>
	<body class="hold-transition sidebar-mini layout-fixed">
    	<header th:include="header::header1"></header> 
        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-header text-center pb-2 d-bg-h2 ">
                                <lable id="label" class="h2 font-weight-bold">Employees List</lable>
                            </div>
                            <div class="card card-box-new tech-x-card-2 mt-5">
                                <div class="card-body">
                                    <table id="data-table" data-order='[[ 0, "desc" ]]'  class="table table-bordered table-responsive table-head-fixed table-striped">
                                        <thead>
                                            <tr>
                                                <th class="d-list-th">SR.NO.</th>
                                                <th class="d-list-th">First Name</th>
                                                <th class="d-list-th">Middle Name</th>
                                                <th class="d-list-th">Last Name</th>
                                                <th class="d-list-th">Email ID</th>
                                                <th class="d-list-th">Department</th>
                                                <th class="d-list-th">Reporting Manager</th> 
                                                <th class="d-list-th">Gender</th>
                                                <th class="d-list-th">Age</th>
                                                <th class="d-list-th">Date of Birth</th>
                                                <th class="d-list-th">Present Address</th>
                                                <th class="d-list-th">Mobile Number</th>
                                                <th class="d-list-th">Telephone NO.</th>
                                                <th class="d-list-th">Joining Date</th>
                                                <th class="d-list-th">Skill Sets</th>
                                                <th class="d-list-th">Blood Group</th>
                                                <th class="d-list-th">Marital Status</th>
                                                <th class="d-list-th">University</th>
                                                <th class="d-list-th">Degree</th>
                                                <th class="d-list-th">Course</th>
                                                <th class="d-list-th">Specialization</th>
                                                <th class="d-list-th">Course Type</th>
                                                <th class="d-list-th">Course Duration</th>
                                                <th class="d-list-th">Grading System</th>
                                                <th class="d-list-th">Grade</th>
                                                <th class="d-list-th">Certification Name</th>
                                                <th class="d-list-th">Certification Completion ID</th>
                                                <th class="d-list-th">Certification Url</th>
                                                <th class="d-list-th">Certification Validity</th>
                                                <th class="d-list-th">Account Holder Name</th>
                                                <th class="d-list-th">Bank Name</th>
                                                <th class="d-list-th">Branch</th>
                                                <th class="d-list-th">Account Number</th>
                                                <th class="d-list-th">IFSC Code</th>
                                                <th class="d-list-th">Disability</th>
                                                <th class="d-list-th">Disability Type</th>
                                                <th class="d-list-th">Career Break</th>
                                                <th class="d-list-th">Reason Of Break</th>
                                                <th class="d-list-th">Break Start From</th>
                                                <th class="d-list-th">Break End</th>
                                                <th class="d-list-th">Edit</th>
                                                <th class="d-list-th">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="employee:${listEmployees}" th:if="${employee.company_id}==${CompanyID}">
                                                <td class="text-center" th:text="${employee.id}"></td>
                                                <td class="text-center" th:text="${employee.firstname}"></td>
                                                <td class="text-center" th:text="${employee.middlename}"></td>
                                                <td class="text-center" th:text="${employee.lastname}"></td>
                                                <td class="text-center" th:text="${employee.email}"></td>
                                                <td class="text-center" th:if="${employee.department == ' '}">
													 -
												</td>
												<td class="text-center" th:if="${employee.department != ' '}">
													 <span th:text="${employee.department}"></span>
												</td>
												<td class="text-center" th:if="${employee.reporting_manager == 0}">
													 -
												</td>
												<td class="text-center" th:if="${employee.reporting_manager != 0}">
													<span th:each="e1:${listEmployees}" th:if="${e1.id}==${employee.reporting_manager}" th:text="${e1.firstname} + ' ' + ${e1.lastname}"></span>
												</td>
                                                <td class="text-center" th:text="${employee.gender}"></td>
                                                <td class="text-center" th:text="${employee.Age}"></td>
                                                <td class="text-center" th:text="${employee.DateofBirth}"></td>
                                                <td class="text-center">
                                                    <span th:text="${employee.PresentAddress1}"></span>
                                                    <span th:text="${employee.PresentAddress2}"></span>
                                                    <span th:text="${employee.country}"></span>
                                                    <span th:text="${employee.state}"></span>
                                                    <span th:text="${employee.city}"></span>
                                                </td>
                                                <td class="text-center">
                                                    <p th:text="${employee.MobileNumber1}"></p>
                                                    <p th:text="${employee.MobileNumber2}"></p>
                                                </td>
                                                <td class="text-center">
                                                    <p th:text="${employee.TelephoneNumber1}"></p>
                                                    <p th:text="${employee.TelephoneNumber2}"></p>
                                                </td>
                                                <td class="text-center" th:text="${employee.joiningdate}"></td>
                                                <td class="text-center" th:text="${employee.skillset}"></td>
                                                <td class="text-center" th:text="${employee.bloodgroup}"></td>
                                                <td class="text-center" th:text="${employee.maritalStatus}"></td>
                                                <td class="text-center" th:text="${employee.university}"></td>
                                                <td class="text-center" th:text="${employee.degree}"></td>
                                                <td class="text-center" th:text="${employee.course}"></td>
                                                <td class="text-center" th:text="${employee.specialization}"></td>
                                                <td class="text-center" th:text="${employee.courseType}"></td>
                                                <td class="text-center" th:text="${employee.courseDuration}"></td>
                                                <td class="text-center" th:text="${employee.gradingSystem}"></td>
                                                <td class="text-center" th:text="${employee.grade}"></td>
                                                <td class="text-center" th:text="${employee.certificationName}"></td>
                                                <td class="text-center" th:text="${employee.certificationCompletionID}"></td>
                                                <td class="text-center" th:text="${employee.certificationUrl}"></td>
                                                <td class="text-center" th:text="${employee.certificationValidity}"></td>
                                                <td class="text-center" th:text="${employee.accountholdername}"></td>
                                                <td class="text-center" th:text="${employee.bankname}"></td>
                                                <td class="text-center" th:text="${employee.branch}"></td>
                                                <td class="text-center" th:text="${employee.accountnumber}"></td>
                                                <td class="text-center" th:text="${employee.IFSC_Code}"></td>
                                                <td class="text-center" th:text="${employee.disability}"></td>
                                                <td class="text-center" th:text="${employee.disabilityType}"></td>
                                                <td class="text-center" th:text="${employee.careerBreak}"></td>
                                                <td class="text-center" th:text="${employee.reasonOfBreak}"></td>
                                                <td class="text-center" th:text="${employee.breakStartFrom}"></td>
                                                <td class="text-center" th:text="${employee.breakEnd}"></td>
                                                <td class="text-center"><a th:href="@{/UpdatePersonalDetailsByAdmin/{id}(id=${employee.id})}"><i class="fa-solid fa-pencil text-success"></i></a></td>
                                                <td class="text-center"><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"><i class="fa-solid fa-trash text-danger"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>
        </div>
    </body>  
</html>