<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Update Personal Details</title>
	    <link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
	    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
	    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
	    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
	    <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	    <link rel="stylesheet" th:href="@{/plugins/bootstrap-wizards/css/smart_wizard.all.css}">
	    <script th:src="@{/plugins/bootstrap-wizards/js/jquery.smartWizard.min.js}"></script>
	    <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
	    <link rel="stylesheet" th:href="@{/dist/css/all.css}">
	    <script th:src="@{/dist/js/all.js}"></script>
	    <link rel="stylesheet" th:href="@{/dist/icon/css/all.css}">
	    <script th:src="@{/dist/js/dextero.js}"></script>
	
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
	    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
		<script th:src="@{/chart js/cities.js}"></script>
		
	    <script type="text/javascript">
	        $(document).ready(function () {
	            $('select[multiple]').multiselect({
	                allSelectedText: 'All',
	                includeSelectAllOption: true,
	                buttonWidth: '480px'
	            });
	            $("#birthyear").datepicker({
	                dateFormat: "yy-mm-dd",
	            });
	            $("#joiningdate").datepicker({
	                dateFormat: "dd-mm-yy"
	            });
	            var age = "";
	            $('#dob').datepicker({
	                changeMonth: true,
	                changeYear: true,
	                yearRange: "1950:2010",
	                dateFormat: 'dd-mm-yy',
	                onSelect: function (value, ui) {
	                    var today = new Date();
	                    age = today.getFullYear() - ui.selectedYear;
	                    $('#AGE').val(age);
	                }
	            })
	        });
	    </script>
	    <style>
	        .dropdown-toggle::after {
	            display: inline-block;
	            margin-left: 16.255em;
	            vertical-align: 0.255em;
	            content: "";
	            border-top: 0.3em solid;
	            border-right: 0.3em solid transparent;
	            border-bottom: 0;
	            border-left: 0.3em solid transparent;
	        }
	    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <header th:include="header::header1"></header>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-header text-center pb-2 d-bg-h2 ">
                            <lable id="label" class="h2 font-weight-bold">Update Personal Details</lable>
                        </div>
                        <div class="card  tech-x-card-2 mt-5">
                        	<div class="card-body">
                                    <form action="#" class="form-horizontal" th:action="@{/saveEditEmployeeByAdmin}" th:object="${employee}" enctype="multipart/form-data" method="post">
                                    	<input type="hidden" th:field="*{id}" />
                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">First Name :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <input class="form-control input-anime tab1" type="text" th:field="*{firstname}" placeholder="First Name" required>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Middle Name :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <input class="form-control input-anime" type="text" th:field="*{middlename}" placeholder="Middle Name">
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">Last Name :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <input class="form-control input-anime tab1" type="text" th:field="*{lastname}" placeholder="Last Name" required>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">Email ID:</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <input class="form-control input-anime tab1" type="email" th:field="*{email}" placeholder="Email" required>
                                                    	
                                                    	<input type="hidden" name="old_email" th:value="${employee.email}" /> 
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Gender :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-6">
                                                        <div class="row">
                                                            <div class="col-sm-4 col-md-3 ">
                                                                <input class="mr-1" type="radio" th:field="*{gender}" th:value="Male" th:text="Male" id="Male">
                                                            </div>
                                                            <div class="col-sm-4 col-md-3">
                                                                <input class="mr-1" type="radio" th:field="*{gender}" th:value="Female" th:text="Female" id="Female">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Marital Status :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <select class="form-control input-anime" th:field="*{maritalStatus}">
                                                            <option th:value="*{maritalStatus}" th:text="*{maritalStatus}" selected>
                                                            <option value="Single">Single</option>
                                                            <option value="Married">Married</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Date of Birth :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime" th:field="*{DateofBirth}" id="dob"
                                                            onchange="ageCalculator()" placeholder="DD-MM-YYYY">
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Age :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime" type="text"
                                                            th:field="*{age}" id="AGE" placeholder="Age" readonly />
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Joining Date :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime" type="text" th:field="*{joiningdate}" id="joiningdate"
                                                            placeholder="DD-MM-YYYY">
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Mobile Number1 :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime"
                                                            th:field="*{MobileNumber1}" placeholder="Mobile Number1"
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            type="text" minlength="10" maxlength="10" id="mobile1">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime"
                                                            th:field="*{MobileNumber2}" placeholder="Mobile Number2"
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            type="text" minlength="10" maxlength="10" id="mobile2">
                                                    </div>
                                                    <label id="message2"></label>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Telephone Number1 :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime"
                                                            th:field="*{TelephoneNumber1}" placeholder="Telephone1"
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            type="text" minlength="8" maxlength="8" id="tel1">
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-2">
                                                        <input class="form-control input-anime"
                                                            th:field="*{TelephoneNumber2}" placeholder="Telephone2"
                                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                            type="text" minlength="8" maxlength="8" id="tel2">
                                                    </div>
                                                    <label id="message3"></label>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Blood Group:</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-3">
                                                        <select th:field="*{bloodgroup}" class="form-control input-anime">
                                                            <option th:value="*{bloodgroup}" th:text="*{bloodgroup}" selected>
                                                            <option th:value="'A+'">A positive (A+)</option>
                                                            <option th:value="'A-'">A negative (A-)</option>
                                                            <option th:value="'B+'">B positive (B+)</option>
                                                            <option th:value="'B-'">B negative (B-)</option>
                                                            <option th:value="'O+'">O positive (O+)</option>
                                                            <option th:value="'O-'">O negative (O-)</option>
                                                            <option th:value="'AB+'">AB positive (AB+)</option>
                                                            <option th:value="'AB-'">AB negative (AB-)</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">Profile :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <select class="form-control input-anime tab1" th:field="*{authority_id}" id="authorityid" required>
                                                            <option value="6">Employee</option>
                                                            <option value="5">Employee Manager</option>
                                                            <option value="4">HR Manager</option>
                                                            <option value="3">Admin</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">Department :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <select class="form-control input-anime tab1" th:field="*{department}" required>
                                                            <!-- <option th:value="*{department}" th:text="*{department}" selected> -->
                                                            <option value=" ">Select</option>
                                                            <option th:each="employee:${departmentslist}"
                                                                th:value="${employee.departmentname}"
                                                                th:text="${employee.departmentname}" th:if="${employee.company_id}==${CompanyID}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="data">
                                                	<div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Reporting Manager Department :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select  class="form-control input-anime" name="dept" id="dept">
                                                            	<option th:value="*{department}" th:text="*{department}" selected>
												                <option th:each="e:${departmentslist}"
		                                                                th:value="${e.departmentname}"
		                                                                th:text="${e.departmentname}" th:if="${e.departmentname}!=*{department} AND ${e.company_id}==${CompanyID}">
                                                            	</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="row mt-4">
                                                        <div class="col-sm-4 col-lg-4">
                                                            <label class="d-label">Reporting Manager :</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-4 col-lg-4">
                                                            <select class="form-control input-anime" th:field="*{reporting_manager}" id="report">
                                                            	<option th:each="e1:${employeesManagerList}" 
                                                            			th:value="${e1.id}"
                                                            			th:text="${e1.firstname + ' ' + e1.lastname}"  th:if="${e1.id}==*{reporting_manager} AND ${e1.company_id}==${CompanyID}" selected>
                                                                <option  th:each="e2:${employeesManagerList}" 
                                                                 		  th:value="${e2.id}" 
                                                                 		  th:text="${e2.firstname + ' ' + e2.lastname}" th:if="${e2.id}!=*{reporting_manager} AND ${e2.company_id}==${CompanyID}">
                                                                  
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4 required-field">
                                                        <label class="d-label">Designation :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <select class="form-control input-anime tab1" th:field="*{designation_id}" required>
                                                            <option th:each="employee:${Designationlist}"
                                                                th:value="${employee.id}"
                                                                th:text="${employee.designation}" th:if="${employee.company_id}==${CompanyID}">
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Are you Differently Abled?</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-6">
                                                        <div class="row">
                                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                                <input type="radio" th:field="*{disability}"
                                                                    class="mr-1" th:value="Yes" th:text="Yes" id="Yes">
                                                            </div>

                                                            <div class="col-sm-4 col-md-3 col-lg-2">
                                                                <input type="radio" th:field="*{disability}"
                                                                    class="mr-1" th:value="No" th:text="No" id="No">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-4">
                                                    <div class="col-sm-4 col-lg-4">
                                                        <label class="d-label">Type :</label>
                                                    </div>
                                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                                        <input type="text" th:field="*{disabilityType}" class="form-control input-anime">
                                                    </div>
                                                </div>
                                                
                                                <input type="hidden" th:field="*{authority_id}">
												<input type="hidden" th:field="*{group_id}">
												<input type="hidden" th:field="*{company_id}">
												<input type="hidden" th:field="*{prefix}">
												<input type="hidden" th:field="*{sufix}">
												<input type="hidden" th:field="*{status}">
												<input type="hidden" th:field="*{email_status}">
                                               	
	                                            <div class="row mt-4">
			                                        <div class="col-sm-4 col-md-4 col-lg-3">
			                                            <button type="submit" class="btn btn-info">Save</button>
			                                        </div>  
			                                     </div>  
									</form>
								</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        </section>
    </div>
		<script type="text/javascript">print_state("sts");</script>
        <script type="text/javascript">print_country("cty");</script>
 
		<script type="text/javascript">
		    $(document).ready(function () {
		    var coursename = $('#countstatus').val();
		    if (coursename === 'false') {
		                alert("Employee Count Exceed Limit");
		            }
		    });
			  $(function() {
		    	$("#authorityid").change(function(){
			    	if($('#authorityid').val()=='5' ||  $('#authorityid').val()=='6'){
			    		$(".data").show();
			    	}
			    	else{
			    		$(".data").hide();
			    	}
		    	});
		    });
		    
		    $(function() {
		        $('#chkNo').change(function(){
		            $('.dtype').hide();
		            $('#' + $(this).val()).show();
		            let d1 = $('.dtype')[0].style.display;
		            if(d1 == 'none'){
		            	$("#step-7")[0].style.marginBottom  = "100px";
		            }
		        });
		    });
		     $(function() {
		        $('#chkYes').change(function(){
		            $('.dtype').show();
		            $('#' + $(this).val()).show();
		            let d2 = $('.dtype')[0].style.display;
		            if(d2 == 'none'){
		            	$("#step-7")[0].style.marginBottom  = "100px";
		            }
		        });
		    });
		   
		   </script>
		   <script>
			$('#username').on('keyup', function () {
        		var valid = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}/igm.test(this.value),
			    	val = this.value;
			// get the currently selected 
		      var user1 = $('#username').val();
		      $.ajax({
		      	// make the ajax call to our server and pass the country ID as a GET variable
		          url: "[[@{/checkusername}]]",
		          data: { name: user1},
		          success: function(data){
		          	if (data == 'true') {
		          		if(user1==''){
		          			$('#message1').html('').css('color', 'red');
		          		}
			          	else{
			          		if(valid){
						        $('#message1').html('Congrats! The username is available').css('color', 'green');
								 }
						     else{
						     	if(val==''){
						     		$('#message1').html('').css('color', 'red');
						     	}
						     	else{
									$('#message1').html('Not a valid email address').css('color', 'red');
							 	}
							}
			          	 }
		          	  } 
		          	  else {
		          	  		if(user1==''){
				     			$('#message1').html('').css('color', 'red');
				     		}
				     		else{
								$('#message1').html('A user with that username already exists').css('color', 'red');
					 		}
					 	}
		           }
		        });
			});
			
			$(function(){
				$("#dept").change(function(){
					$('#report').find('option').remove().end();
					
					var name = $(this).val();
					$.ajax({
						url:"[[@{/getEmployeeManagerNameDropdown}]]",
						data:{
							name: name
						},
						success:function(data){
							$.each(data,function(i,item){
								$('#report').append($('<option>',{
									value:item.id,
									text:item.firstname + " " +  item.lastname
								}));
							});
						}
					});
				});	
			});
			
			$("input").on("keypress", function(e) {
			    if (e.which === 32 && !this.value.length)
			        e.preventDefault();
			});
			
			$("textarea").on("keypress", function(e) {
			    if (e.which === 32 && !this.value.length)
			        e.preventDefault();
			});
			
			$("#mobile1").on("keyup", function(){
			    var valid = /^[7-9]\d{9}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message2').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message2').html('').css('color', 'red');
			     	}
			     	else{
						$('#message2').html('+91- mobile number should be start with 7,8,9 and it should be 10 digit.').css('color', 'red');
				 	
				 	}
				}
			});
			
			$("#mobile2").on("keyup", function(){
			    var valid = /^[7-9]\d{9}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message2').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message2').html('').css('color', 'red');
			     	}
			     	else{
						$('#message2').html('+91- then mobile number should be start with 7,8,9 and it should be 10 digit.').css('color', 'red');
				 	}
				}
			});
			$("#tel1").on("keyup", function(){
			    var valid = /^[0-9]{8}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message3').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message3').html('').css('color', 'red');
			     	}
			     	else{
						$('#message3').html('Start with 022- then 8 digit number.').css('color', 'red');
				 	}
				}
			});
			$("#tel2").on("keyup", function(){
			    var valid = /^[0-9]{8}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message3').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message3').html('').css('color', 'red');
			     	}
			     	else{
						$('#message3').html('Start with 022- then 8 digit number.').css('color', 'red');
				 	}
				}
			});
			
			$("#accountnumber").on("keyup", function(){
			    var valid = /^[0-9]{13}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message4').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message4').html('').css('color', 'red');
			     	}
			     	else{
						$('#message4').html('It should be 13 digit.').css('color', 'red');
				 	}
				}
			});
			
			$("#ifsc").on("keyup", function(){
			    var valid = /^[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message5').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message5').html('').css('color', 'red');
			     	}
			     	else{
						$('#message5').html('It should be 11 characters long <br> The first four characters should be upper case alphabets. <br> The fifth character should be 0. <br> The last six characters usually numeric, but can also be alphabetic.').css('color', 'red');
				 	}
				}
			});
			
			$("#uan_number").on("keyup", function(){
			    var valid = /^[0-9]{12}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message6').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message6').html('').css('color', 'red');
			     	}
			     	else{
						$('#message6').html('It should be 12 digit.').css('color', 'red');
				 	}
				}
			});
			
			$("#pf_number").on("keyup", function(){
			    var valid = /^[A-Z|a-z]{5}[0-9]{17}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message7').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message7').html('').css('color', 'red');
			     	}
			     	else{
						$('#message7').html('It should be 22 characters long <br> The first five characters should be upper case alphabets. and rest should be number.').css('color', 'red');
				 	}
				}
			});
			$("#esi_number").on("keyup", function(){
			    var valid = /^[0-9]{17}$/.test(this.value),
			        val = this.value;
			      if(valid){
			        $('#message8').html('').css('color', 'green');
					 }
			     else{
			     	if(val==''){
			     		$('#message8').html('').css('color', 'red');
			     	}
			     	else{
						$('#message8').html('It should be 17 characters long and should be number.').css('color', 'red');
				 	}
				}
			});
	</script>
</body>

</html>