<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Work Planner Report</title>
		<link rel="icon" th:href="@{/dist/images/Dextero_Icon.ico}" type="image/x-icon" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}"/>
        <link rel="stylesheet" th:href="@{/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}" />
        <link rel="stylesheet" th:href="@{/dist/css/dextero.css}">
        <link rel="stylesheet" th:href="@{/dist/css/all.css}">

        <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/dist/js/dextero.js}"></script>
        <script th:src="@{/dist/js/all.js}"></script>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  		
  		<!--Export table button CSS-->
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
</head>

	<body class="hold-transition sidebar-mini layout-fixed">
		<header th:include="header::header1"></header>
		<div class="content-wrapper">
			<section class="content-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="card-header text-center pb-2 d-bg-h2 ">
								<lable id="label" class="h2 font-weight-bold">Work Planner Report</lable>
							</div>
							<div class="card card-box-new tech-x-card-2 mt-5">
								<div class="card-body">
									<div class="row mt-4">
	                                 	<div class="col-sm-4 col-md-4 col-lg-4">
	                                    	<label class="d-label" >Search By Employee Name :</label>
	                                 	</div>
	                                  	<div class="col-sm-6 col-md-4 col-lg-3">
	                                   		<select class="form-control input-anime" id="employeename" th:onkeyup="myFunction()">
	                                   			<option value="">Select</option>
			                                   	<option th:each="e:${employeeList}"  th:if="${e.authority_id}==5 or ${e.authority_id}==6"
                                               			th:value="${e.firstname} + ' ' + ${e.lastname}"
                                                  		th:text="${e.firstname} + ' ' + ${e.lastname}">
                                          		</option>
	                                   		</select>
	                                    </div>
	                                </div> 
									<div class="row mt-4">
	                                 	<div class="col-sm-4 col-md-4 col-lg-4">
	                                    	<label class="d-label" >Search By Client Name :</label>
	                                 	</div>
	                                  	<div class="col-sm-6 col-md-4 col-lg-3">
	                                   		<input type="text" class="form-control input-anime" id="companyname" th:onkeyup="myFunction()" autocomplete="off">
	                                    </div>
	                                </div> 
									<div class="row mt-4">
	                                	<div class="col-sm-4 col-md-4 col-lg-1">
	                                    	<label class="d-label" >From :</label>
	                                    </div>
	                               		<div class="col-sm-6 col-md-4 col-lg-2">
	                                		<input type="text" class="form-control input-anime" id="fromdate" th:onkeyup="myFunction()" placeholder="DD-MM-YYYY" autocomplete="off">
	                                	</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                                 	<div class="col-sm-4 col-md-4 col-lg-1">
	                                   		<label class="d-label" >To :</label>
	                                  	</div>
	                                    <div class="col-sm-6 col-md-4 col-lg-2">
	                                    	<input class="form-control input-anime" type="text" id="todate" th:onkeyup="myFunction()" placeholder="DD-MM-YYYY" autocomplete="off">
	                                   	</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                                   		<button id="clearBtn" class="btn btn-info">Clear</button>
	                                </div>		  
	                                <div class="table-responsive mt-4">
	                                    <table id="data-table" border="1" class="table table-bordered table-striped">
	                                        <thead>
	                                            <tr>
	                                            	<!-- <th class="text-center">Task Id</th> -->
	                                                <th class="text-center">Client Name</th>
	                                                <th class="text-center">Category</th>
	                                                <th class="text-center">Project Name</th>
	                                                <th class="text-center">Milestone</th>
	                                                <th class="text-center">Task</th>
	                                                <th class="text-center">Project Code</th>
	                                                <th class="text-center">Assign To</th>
	                                                <th class="text-center">Task Description</th>
	                                                <th class="text-center">Priority</th>
	                                                <th class="text-center">No.Of Days</th>
	                                                <th class="text-center">Status</th>
	                                                <th class="text-center">Start Date</th>
	                                                <th class="text-center">End Date</th>
	                                                <th class="text-center">Updated Start Date</th>
	                                                <th class="text-center">Updated End Date</th>
	                                                <th class="text-center">Updated No.of Days</th>
	                                                <th class="text-center">Changes</th>
	                                                <th class="text-center">Change Description</th>
	                                                <th class="text-center">Created By</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                           <tr th:each="assigntask:${AssignTaskList}" th:if="${assigntask.company_id}==${CompanyID}">
	                                           		<!-- <td class="text-center"><span th:text="${assigntask.id}"></span></td> -->
	                                           		<td class="text-center">
	                                           			<span th:each="e:${Customerlist}" th:if="${e.id}==${assigntask.company_name_id}" th:text="${e.CompanyName}"></span>
	                                           		</td>
		                                            <td class="text-center">
		                                            	<span th:each="c:${Projectlist}" th:if="${c.id}==${assigntask.project_id}" th:text="${c.categoryName}"></span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" th:text="${p.projectName}"></span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:each="m1:${Milestonelist}" th:if="${m1.id}==${assigntask.milestone_id}" th:text="${m1.add_milestone}"></span>
		                                            </td>
		                                            <td class="text-center">
													    <span th:each="t:${Tasklist}" th:if="${t.id == assigntask.task_id}" th:text="${t.addTask}"></span>
													</td>
													<td class="text-center">
		                                            	<span th:each="p:${Projectlist}" th:if="${p.id}==${assigntask.project_id}" th:text="${p.projectcode}"></span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:each="e:${employeeList}" th:if="${e.id}==${assigntask.employee_id}" th:text="${e.firstname} + ' ' + ${e.lastname}"></span>
		                                            </td>
		                                            <td class="text-center"><span th:text="${assigntask.TaskDescription}"></span></td>
		                                            <td class="text-center"><span th:text="${assigntask.Priority}"></span></td>
		                                            <td class="text-center"><span th:text="${assigntask.number_of_days}"></span></td>
		                                            <td class="text-center"><span th:text="${assigntask.status}"></span></td>
		                                            <td class="text-center"><span th:text="${assigntask.StartDate}"></span></td>
		                                            <td class="text-center"><span th:text="${assigntask.EndDate}"></span></td>
		                                            <td class="text-center">
		                                            	<span th:text="${assigntask.updated_start_date}"></span>
		                                            	<span th:if="${assigntask.updated_start_date}==''">-</span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:text="${assigntask.updated_end_date}"></span>
		                                            	<span th:if="${assigntask.updated_end_date}==''">-</span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:text="${assigntask.updated_number_of_days}"></span>
		                                            	<span th:if="${assigntask.updated_number_of_days}==''">-</span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:text="${assigntask.t_changes}"></span>
		                                            	<span th:if="${assigntask.t_changes}==''">-</span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:text="${assigntask.t_change_description}"></span>
		                                            	<span th:if="${assigntask.t_change_description}==''">-</span>
		                                            </td>
		                                            <td class="text-center">
		                                            	<span th:each="e:${employeeList}" th:if="${e.id}==${assigntask.createdby}" th:text="${e.firstname} + ' ' + ${e.lastname}"></span>
		                                            </td>
		                                        </tr>
	                                        </tbody>
	                                    </table> 
	                                 </div> 
	                             </div>    
	                         </div>
	                      </div>    
	                  </div>    
	              </div>
	          </section>   
	     </div>
		<script>
	     var dateToday = new Date(); 
			$(document).ready(function () {
				$( "#startdate" ).datepicker({
			  		dateFormat:'dd-mm-yy',
			    	//minDate: dateToday,
			    	onClose: function (selected) {
			     		$("#enddate").datepicker("option", "minDate", selected);
			   		}
			  	});
			    $("#enddate").datepicker({
			   		dateFormat: "dd-mm-yy"
			    });   
			});
			
			$("input").on("keypress", function(e) {
					if (e.which === 32 && !this.value.length)
						e.preventDefault();
				});
				$("textarea").on("keypress", function(e) {
					if (e.which === 32 && !this.value.length)
						e.preventDefault();
				});
	       $(document).ready(function() {
				  $('#data-table').DataTable( {
				  	order: [11, 'desc'], // Order by the first column (date) in ascending order
				    columnDefs: [
				      {
				        targets: 4,
				        type: 'date-eu', // Set the column type to 'date-eu' for initial sorting
				        render: function(data, type, row) {
				          if (type === 'sort') {
				            // Parse the date using moment.js
				            var momentDate = moment(data, 'DD-MM-YYYY');
				            // Return the parsed date as a sortable value
				            return momentDate.isValid() ? momentDate.format('YYYYMMDD') : '';
				          }
				          return data;
				        }
				      }
				    ],
				    stateSave: true,
				    stateDuration: 120,
				    dom: "<'row'<'col-sm-0'l><'col-sm-2 text-right'B><'col-sm-1 text-right'><'col-sm-4'<'toolbar'>><'col-sm-3'f>>" +
				         "<'row'<'col-sm-12'tr>>" +
				         "<'row'<'col-sm-5'i><'col-sm-7'p>>",
				    buttons: [
				      
				      {
				        extend: 'excel',
				        text: '<i class="fa fa-file-excel"></i> Excel',
				        className: 'btn btn-primary btn-md'
				      },
				      {
				        extend: 'pdf',
				        text: '<i class="fa fa-file-pdf"></i> PDF',
				        className: 'btn btn-primary btn-md'
				      }
				    ]
				  });
				});
				
				$(function() {
				  var table = $('#data-table').DataTable();
				  var employeenameInput = $('#employeename');
				  var companynameInput = $('#companyname');
				  var fromdateInput = $('#fromdate');
				  var todateInput = $('#todate');
				  var clearBtn = $('#clearBtn');
				
				  // Datepicker initialization
				  fromdateInput.datepicker({
				    dateFormat: "dd-mm-yy",
				    onClose: function(selected) {
				      todateInput.datepicker("option", "minDate", selected);
				    }
				  });
				
				  todateInput.datepicker({
				    dateFormat: "dd-mm-yy",
				    onClose: function(selected) {
				      fromdateInput.datepicker("option", "maxDate", selected);
				    }
				  });
				
				  // Event listener for date range change
				  function applyDateRangeFilter() {
				  	var employeename = employeenameInput.val();
				    var companyname = companynameInput.val();
				    var fromDate = moment(fromdateInput.val(), 'DD-MM-YYYY');
				    var toDate = moment(todateInput.val(), 'DD-MM-YYYY');
				
				    table
				      .columns(0)
				      .search(companyname)
				      .draw();
				      
				      table
				      .columns(6)
				      .search(employeename)
				      .draw();
				
				    $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
				      var date = moment(data[11,12], 'DD-MM-YYYY');
				
				      if (date.isSameOrAfter(fromDate) && date.isSameOrBefore(toDate)) {
				        return true;
				      }
				
				      return false;
				    });
				
				    if (employeename && companyname && fromDate && toDate) {
				      table.draw();
				    } 
				
				    $.fn.dataTable.ext.search.pop();
				  }
				
				  employeenameInput.on('input', applyDateRangeFilter);
				  companynameInput.on('input', applyDateRangeFilter);
				  fromdateInput.on('change', applyDateRangeFilter);
				  todateInput.on('change', applyDateRangeFilter);
				
				  // Event listener for clear button
				  clearBtn.on('click', function() {
				    employeenameInput.val('');
				    companynameInput.val('');
				    fromdateInput.val('');
				    todateInput.val('');
				
				    // Clear the filters and redraw the table
				    table.search('').columns().search('').draw();
				  });
				});
	    </script>
	</body>
</html>